<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8">
<title>Pravni fakultet</title>

<link th:href="@{/css/style_nastavnik.css}" type="text/css" rel="stylesheet"
	href="../static/css/style_nastavnik.css"></link>

</head>

<body>
	<form th:action="@{/nastavnik/loginNastavnik}" method="post">
		<header>
			Pregled prijavljenih ispita
			<div th:if="${param.error}">Pogrešno uneti podaci.</div>
			<div th:if="${param.logout}">Izlogovani ste uspešno</div>
		</header>
		<label>JMBG <span>*</span></label>
		<input type="text" name="username" placeholder="JMBG"/>
		<label>Šifra<span>*</span>
		</label> <input type="password" name="password" placeholder="password"/>
		<div class="help">Koristiti mala i velika slova</div>
		<button>Ulaz</button>
	</form>


</body>

</html>
